.carousel-container {
  background-color: #1f2120;
  padding: 50px 10px;
}

.carousel {
  margin-top: 250px;
}

.carousel-indicators {
  bottom: -50px !important;
}

.carousel-indicators button {
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

@media only screen and (min-width: 768px) {
  .carousel {
    width: 75%;
    margin: auto;
    margin-top: 250px;
  }
}
