.header {
  color: white;
  position: relative;
}

.description {
  color: white;
  white-space: pre-wrap;
  padding-top: 2%;
}

.main-pic {
  width: 100%;
}

.extra-pic-row {
  display: flex;
  justify-content: space-between;
}

.extra-pic {
  width: 32%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.name {
  padding-bottom: 2%;
}

.product-details-container {
  background-color: #1f2120;
}

.product-details-row {
  width: 100%;
  display: inline-block;
}

@media only screen and (min-width: 768px) {
  .product-details-row {
    margin-left: 15%;
    display: flex;
    width: 75%;
  }
}
